.unibusiness{
    // padding: 76px 0;
    width: 100%;
    height: 1100px;
    margin-top: 200px;
    background: #0E1114;
    position: relative;

    &__container{
        padding: 76px 0;
    }
    &__blur{
        position: absolute;
        width: 483px;
        height: 350px;
        top: 0;
        right: 0;
    }
    &__title{
        font-size: 64px;
        color: white;
        text-align: center;
        width: 802px;
        margin: 0 auto;
        &-span{
            color: #F7D617;
        }
    }
    &__description{
        color: #FFFFFFD9;
        font-size: 20px;
        width: 800px;
        margin: 0 auto;
        text-align: center;
        margin-top: 17px;
    }
    &__carts{
        width: 100%;
        height: auto;
        row-gap: 20px;
        margin-top: 40px;
        column-gap: 14px;
        display: flex;
        flex-wrap: wrap;
    }
    &__cart{
        border: 1px solid #FFFFFF;
        height: 240px;
        border-radius: 22px;
        background: #595959;
        padding: 50px 56px;

        &__title{
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 600;

        }
        &__description{
            margin-top: 5px;
            color: #FFFFFFB2;
            font-size: 16px;
            font-weight: 400;
        }
        &__line{
            width: 53px;
            background: #F7D617;
            height: 2px;
            margin-top: 24px;
        }
    }
    &__enddescription{
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        margin-top: 70px;
    }
}

.col-3{  
      width: calc((100% - 42px) / 4);
}