.team{
    background: #0E1114;
    &__container{
        padding: 60px 0;
        width: 100%;
    }
    &__first{
        width: 580px;
    }
    &__start{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title{
            width: 580px;
            font-size: 64px;
            color: #FFFFFF;
            font-weight: 700;
        }
        &__line{
            width: 2px;
            height: 200px;
            background: #FFFFFF33;
        }
        &__description{
            width: 539px;
            color: #FFFFFFDB;
            font-size: 20px;
            line-height: 45px;
        }
    }
    &-span{
        color: #F7D617;
    }
    &__cards{
        margin-top: 80px;
        width: 100%;
        display: flex;
        gap: 20px;
        &__card{
            width: 25%;
            height: 540px;
            border-radius: 22px;
            background: #FFFFFF;
            &__img{
                border-radius: 22px 22px 0 0 ;
            }
            &__title{
                color: #000;
                font-weight: bold;
                font-size: 28px;
                margin: 14px 21px 0 21px;
            }
            &__description{
                color: #000000B2;
                font-size: 20px;
                line-height: 34px;
                margin: 5px 21px 0 21px;
            }
            &__line{
                width: 70px;
                height: 2px;
                background: #F2B705;
                margin: 17px 21px 0 21px;
            }
        }
    }
}