@mixin ifdesktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

@mixin iflaptop {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin iftablet {
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    @content;
  }
}

@mixin ifmobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin ifrespons {
  @media only screen and (min-width: 569px) and (max-width: 1440px) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) and (max-width: 932px) {
    @content;
  }
}

@mixin ifparent($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @-ms-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation($delay, $duration, $animation, $count: infinite, $ease: ease) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $ease;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $ease;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: $count;
  animation-timing-function: $ease;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s) {
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}
