.universalModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: oklab(0 none none / 0.5);
  }
  &__content {
    padding: 17px 25px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    // width: 400px;
    z-index: 1;
    max-width: calc(100vw - 24px);
    max-height: calc(100vh - 24px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 auto;
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      h2 {
        font-family: Montserrat;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
    &-body {
      flex: 1 1 auto;
      min-height: 0; // важно для scroll внутри flex
      overflow: auto;
      padding-top: 12px;
    }
  }
}
