
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

html,
body,
#root {
  // height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Улучшаем скроллинг для всего приложения */
body {
  overflow-x: hidden;
  position: relative;
}

.table-wrapper {
  width: 100%;
  overflow-y: auto;
}
