.sellDetail {
  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &__items {
    width: 500px;
  }
}
.sellObject {
  .add-modal__content {
    width: 550px;
  }
}

.sell {
  .add-modal {
    height: max-content;
  }
  .add-modal__content {
    width: 550px;
    overflow-y: auto;
    height: 80%;
  }
  &__manual {
    padding: 0 30px;
  }
  &__list {
    padding: 15px 0;
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 200px;
    overflow-y: scroll;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
    }
    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    &-row {
      display: flex;
      align-items: center;
      column-gap: 20px;
      input {
        outline: none;
        padding: 3px;
        border: none;
        border-bottom: 1px solid #000;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sell__list-row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  .sell__list {
    li {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .receipt__item {
    flex-wrap: wrap;
    justify-content: center !important;
    div {
      flex-wrap: wrap;
    }
  }
  .receipt__total {
    flex-wrap: wrap;
    row-gap: 15px;
    div {
      flex-wrap: wrap;
    }
  }
  .receipt__row {
    flex-wrap: wrap;
    row-gap: 15px;
    button {
      width: 100%;
    }
  }
}
